@import "spacing";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: #2d3436;
  font-size: 1.6rem;
  background-color: #dfe6e9;
}
